* {
    box-sizing: border-box;
}
    
    
    
html {
    background-color: grey;
}

body {
    position: absolute;
    font-family: 'Montserrat', sans-serif; 
    
}

.header {
    height: 260px;
}

.head {
    background-image: url('flatirons.jpg');
    background-size: cover;
    position: relative;
    z-index: 1;
    margin: 20px 20px 0px 20px;
    height: 260px;
}

.background-color {
    background-color: rgba(165, 26, 26, 0.85);
    height: 260px;
    position: relative;
    z-index: 1;
    margin: 0;
}

.head-padding {
    padding: 0;
}

.header-text {
    position: relative;
    z-index: 99;
    width: 100%;
    opacity: 2;
    font-weight: bold;
}

.head h1 {
    font-size: 60px;
}

.head h4 {
    font-size: 24px;
}

.header-pic {
    display: none;
}

.main {
    padding-left: 0;
    margin-top: 80px;
}

.main-row {
      /* margin: 20px; */
      color: rgb(79, 73, 73);
      /* margin-left: 0px; */
      margin: auto;
      
}

/* .col-sm-3 {
    background-color: yellow;
} */

.nav {
    /* text-align: center; */
    /* margin: auto; */
    background-color: yellow;
}

li {
    /* margin: auto; */
}

ul {
    /* text-align: center; */
}


a {
      /* color: rgb(165, 26, 26); */
      color: rgb(59, 56, 56);
      font-size: 18px;
      font-weight: bold;
}

li img {
      /* margin-bottom: 70px; */
      /* margin: auto; */
      margin-bottom: 40px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: grey !important;
    background-color: white;
    font-style: italic;
}

.affix {
    top: 30px;
    /* z-index: 9999 !important; */
    margin: 0 auto;
    text-align: center;
    /* position: relative; */
    /* width: 100%; */
  
    width: 25%;
    margin-left: -17px;
 }

.affix-top {
    margin: 0 auto;
    text-align: center;
}

div.col-sm-9 div {
height: 450px;
font-size: 16px;
}

div.col-sm-9 {
    border-left: 1px solid grey;
    padding-left: 60px;
    
}





/***********************Media Queries***********************************************/

@media screen and (max-width: 810px) {
    #myScrollspy {
        display: block;
    }

    .nav {
        position: static;
        padding-top: 10px;
        
    }

    .nav>li {
        display: inline-block;
        
    }

    .col-sm-2 {
        text-align: center;
    }

    li img {
        display: none;
    }

    .header-pic {
        display: inline-block;
    }



    }

    /* https://stackoverflow.com/questions/42744135/bootstrap-affix-moves-element-to-left-side-of-container */