html {
    background-color: grey;
}

body {
    position: relative;
    font-family: 'Montserrat', sans-serif; 
    
}

.head {
    background-image: url('flatirons.jpg');
    background-size: cover;
    position: relative;
    z-index: 1;
}


.head {
      margin: 20px 20px 0px 20px;
      height: 300px;
      position: relative;
      width: 100%;
      z-index: 1;
}

.background-color {
    background-color: rgb(255, 16, 16);
    opacity: 0.4;
    height: 300px;
    z-index: 1;
    position: relative;
    width: 100%;
}

.header-text {
    z-index: 99 !important;
    position: relative;
    width: 100%;
}

.head h1 {
    font-size: 60px;
    z-index: 99;
}

.head h4 {
    font-size: 30px;
}

.head p {
    font-size: 22px;
}

.header-pic {
    display: none;
}

.main {
    padding-left: 0;
}

.main-row {
      margin: 20px;
      color: rgb(79, 73, 73);
      margin-left: 0px;
}

.nav {
    padding-left: 40px;
}

a {
      color: rgb(79, 73, 73);
      font-size: 18px;
      /* font-weight: bold; */
      /* margin-bottom: 5px; */
      /* text-align: center; */
}



li img {
      margin-bottom: 70px;
      margin: auto;
      margin-bottom: 40px;
}


.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: grey !important;
    background-color: white;
}

.affix {
top: 20px;
z-index: 9999 !important;
}

div.col-sm-9 div {
height: 450px;
font-size: 18px;

}

div.col-sm-9 {
    border-left: 1px solid grey;
    padding-left: 60px;
    
}







@media screen and (max-width: 810px) {
    #myScrollspy {
        display: block;
    }

    .nav {
        position: static;
        padding-top: 10px;
        
    }

    .nav>li {
        display: inline-block;
        
    }

    .col-sm-2 {
        text-align: center;
    }

    li img {
        display: none;
    }

    .header-pic {
        display: inline-block;
    }



    }